<div class="DemoList" *ngIf="demos$ | async as demos" [ngClass]="{ 'is-empty': demos.length === 0 }">
  <div class="DemoList__empty" *ngIf="demos.length === 0; else list">
    No demo available yet.
  </div>
  <ng-template #list>
    <a
      class="DemoList__item"
      *ngFor="let demo of demos; let i = index; trackBy: trackByDemoId"
      [routerLink]="['/demo', demo.id_demo]"
      [ngClass]="{ 'is-odd': i % 2 === 1 }"
      (click)="selectDemo(demo)"
      data-qa="demo-list-item"
    >
      <pnx-demo [demo]="demo"></pnx-demo>
      <span class="DemoList__cta">Voir la fiche</span>
    </a>
  </ng-template>
</div>
